opencv-python
tables
scikit-image
numpy
git+https://github.com/matterport/Mask_RCNN.git
matplotlib
randomcolor
tensorflow>=1.3.0
keras>=2.0.8
git+https://www.github.com/keras-team/keras-contrib.git
tqdm
Pillow
ffmpeg
imgaug
